<div>
  <h2 id="page-heading" data-cy="DirectoryHeading">
    <span jhiTranslate="filemanager3App.directory.home.title">Directories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="filemanager3App.directory.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-directory"
        [routerLink]="['/directory/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="filemanager3App.directory.home.createLabel"> Create a new Directory </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="directories?.length === 0">
    <span jhiTranslate="filemanager3App.directory.home.notFound">No directories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="directories && directories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="uuid">
            <span jhiTranslate="filemanager3App.directory.uuid">Uuid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parentUuid">
            <span jhiTranslate="filemanager3App.directory.parentUuid">Parent Uuid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="filemanager3App.directory.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tenantId">
            <span jhiTranslate="filemanager3App.directory.tenantId">Tenant Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createDate">
            <span jhiTranslate="filemanager3App.directory.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userName">
            <span jhiTranslate="filemanager3App.directory.userName">User Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="numFiles">
            <span jhiTranslate="filemanager3App.directory.numFiles">Num Files</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isDir">
            <span jhiTranslate="filemanager3App.directory.isDir">Is Dir</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="virtualPath">
            <span jhiTranslate="filemanager3App.directory.virtualPath">Virtual Path</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let directory of directories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/directory', directory.id, 'view']">{{ directory.id }}</a>
          </td>
          <td>{{ directory.uuid }}</td>
          <td>{{ directory.parentUuid }}</td>
          <td>{{ directory.name }}</td>
          <td>{{ directory.tenantId }}</td>
          <td>{{ directory.createDate | formatMediumDatetime }}</td>
          <td>{{ directory.userName }}</td>
          <td>{{ directory.numFiles }}</td>
          <td>{{ directory.isDir }}</td>
          <td>{{ directory.virtualPath }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/directory', directory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/directory', directory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(directory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
